body {
	margin:1%;
	padding:1%;
	background: rgba(24, 31, 242, 0.32);
}

h1 {
	background-color: #666666;
	font-famity: serif;
	font-size: 150%;
	color: #FFFFFF; 
	text-align: center;
	border: 1px solid #666666;
	border-radius: 6px 6px 0 0;
}

img {
	display: inline-block;
	width: 20%;
	height: 30%;
	float: left;
	border: 1px solid #000000;
	opacity: 1.2;	
}

section {
	display: inline-block;
	padding: 1%;
	background: #efff0070;
	margin-top: 2%;
}

#change {
	padding: 2%;
	margin-left: 2%;
	margin-top: 3%;
	font-size: 110%;
	background: none;
}

